In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('indian_food2.csv')
df = df.replace({'nan': np.nan, ' ': np.nan, '': np.nan})

In [3]:
df.head(2)

,id,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
0,1,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East
1,2,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West

# 1-1

In [4]:
df = df.drop(columns='state')

In [5]:
df.head(1)

,id,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,region
0,1,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,East

# 1-2

In [6]:
df = df[(df['cook_time'] > 0) & (df['prep_time'] > 0)]

# 1-3

In [7]:
df = df[~df['region'].isin(['-1', ''])]

In [8]:
df['region'] = df['region'].replace({'North East': 'North'})

In [9]:
df = df.dropna(subset=['region'])

# 1-4
## np.where(조건~~~~, True, False)

In [10]:
df.loc[df['flavor_profile'] == 'sweet', 'ed_flavor_profile'] = 'sweet'
df.loc[df['flavor_profile'] != 'sweet', 'ed_flavor_profile'] = 'not sweet'

In [11]:
df['ed_flavor_profile'] = np.where(df['flavor_profile'] == 'sweet',\
                                   'sweet',\
                                   'not sweet')

In [12]:
df.head(3)

,id,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,region,ed_flavor_profile
0,1,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,East,sweet
1,2,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,West,sweet
2,3,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,North,sweet

# 1-5

In [13]:
df.loc[df['course'] == 'main course', 'ed_course'] = 'main course'
df.loc[df['course'] != 'main course', 'ed_course'] = 'not main course'

In [14]:
df['ed_course'] = np.where(df['course'] == 'main course',\
                           'main course',\
                           'not main course')

# 1-6

In [15]:
df['ingredients_no'] = df['ingredients'].str.split(', ').str.len()

In [16]:
df.head(2)

,id,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,region,ed_flavor_profile,ed_course,ingredients_no
0,1,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,East,sweet,not main course,4
1,2,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,West,sweet,not main course,3

In [17]:
df.shape

(212, 12)